body {
  background-color: #f9f7fe;
  font-family: sans-serif;
}
.container {
  max-width: 600px;
  margin: 60px 0;
  background: white;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}
h1 {
  text-align: center;
  font-size: 50px;
}
h2 {
  margin: 0 0 5px;
  font-size: 28px;
}
select {
  display: block;
  width: 100%;
  border-radius: 20px;
  padding: 10px;
  font-size: 26px;
}
.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  padding: 30px 0;
}
.city:last-child {
  border: none;
}
.date {
  opacity: 0.5;
}
.time {
  font-size: 48px;
  font-weight: bold;
}
.time small {
  font-size: 15px;
  vertical-align: middle;
  line-height: 36px;
}
footer {
  text-align: center;
}
